{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_block %}
    <style type="text/css">
        .infospan {
            font-size: 0.92308em;
            line-height: 1.2;
            color: #e9682e;
            color: #e9682e;
        }
    </style>
{% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}
    <div class="l-main-container">
        <div class="b-breadcrumbs f-breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i>{% trans "Home" %}</a></li>
                    <li><i class="fa fa-angle-right"></i><span>{% trans "Payment Page" %}</span></li>
                </ul>
            </div>
        </div>

        <section class="b-infoblock">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ">
                        <div class="b-shortcode-example">
                            <div class=" f-primary-b b-title-b-hr f-title-b-hr b-null-top-indent">{{ order.on_sales.title }}</div>
                            <div class="b-product-card b-default-top-indent">
                                <div class="b-product-card__visual b-slidercontainer b-slider b-slider--thumb b-slider--thumb-visible b-small-arr f-small-arr b-slider--navi-alt b-shadow-container"
                                     style="overflow: visible;">
                                    <div class="j-contentwidthslider revslider-initialised tp-simpleresponsive hovered"
                                         data-height="1400" id="revslider-479" style="height: 243px;">
                                        <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 600px;">
                                            <li data-transition="slotfade-vertical" data-slotamount="7"
                                                style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                                                <img data-retina="" src="/media/{{ order.on_sales.ticket_photo }}" alt=""
                                                     width="100%" height="100%">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="b-product-card__info">
                                    <h4 class="f-primary-b b-h4-special f-h4-special">{% trans "information" %}</h4>

                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Price" %}</div>
                                        <span class="f-product-card__info_price c-default f-primary-b"><i
                                                class="fa fa-btc"></i> {{ amount }}</span>
                                    </div>

                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Total Ticket" %}</div>
                                        <span class="infospan">{{ order.total_ticket }}</span>
                                    </div>

                                <div class="b-product-card__info_row">
                                    <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Categories" %}</div>
                                    <span class="infospan">{{ order.on_sales.category }}</span>
                                </div>

                                <div class="b-product-card__info_row">
                                    <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "End Date" %}</div>
                                    <span class="infospan">{{ order.on_sales.edate }}</span>
                                </div>
                                    <div class="b-product-card__info_add b-margin-right-standard">
                                            <a class="coinbase-button" data-code={{ button_data }}>{% blocktrans %}Pay With Bitcoin{% endblocktrans %}</a>
                                            <script src="https://www.coinbase.com/assets/button.js"
                                                    type="text/javascript"></script>
                                    </div>
                                <p>{% blocktrans %}Please don't close this page for ending payment. If you are close this page and finished your payment, please click this link!{% endblocktrans %} <a href="/bitcoin/success_url/order.id"></br>http://fazladanbilet.com//bitcoin/success_url/{{ order.id }}</a></p>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="b-shortcode-example">
                        <div class="b-tabs f-tabs j-tabs b-tabs-reset ui-tabs ui-widget ui-widget-content ui-corner-all">
                            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all"
                                role="tablist">
                                <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab"
                                    tabindex="0" aria-controls="tabs-21" aria-labelledby="ui-id-1" aria-selected="true"
                                    aria-expanded="true"><a href="#tabs-21" class="ui-tabs-anchor" role="presentation"
                                                            tabindex="-1" id="ui-id-1">{% trans "Description" %}</a>
                                </li>
                                <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1"
                                    aria-controls="tabs-22" aria-labelledby="ui-id-2" aria-selected="false"
                                    aria-expanded="false"><a href="#tabs-22" class="ui-tabs-anchor" role="presentation"
                                                             tabindex="-1"
                                                             id="ui-id-2">{% trans "User's Information" %}</a></li>
                            </ul>
                            <div class="b-tabs__content">
                                <div id="tabs-21" aria-labelledby="ui-id-1"
                                     class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel"
                                     aria-hidden="false" style="display: block;">
                                    <h4 class="f-tabs-vertical__title f-primary-b">{{ order.on_sales.title }}</h4>

                                    <p>{{ order.on_sales.description }}</p>
                                </div>
                                <div id="tabs-22" aria-labelledby="ui-id-2"
                                     class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel"
                                     aria-hidden="true" style="display: none;">
                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Username" %}</div>
                                        <a href="/public_profile/+{{ order.on_sales.member.id }}"><span
                                                class="infospan">{{ order.on_sales.member.username }}</span></a>
                                    </div>
                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Points" %}</div>
                                        <span class="infospan">{{ order.on_sales.member.points|default:0 }}</span>
                                    </div>
                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Counter" %}</div>
                                        <span class="infospan">{{ order.on_sales.member.points_counter|default:0 }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    </section>
    </div>
{% endblock %}

{% block script_block %}{% endblock %}