{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head_block %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/mini.css' %}">
    <style>
        #id_message{display:block;width:100%;height:115px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
    </style>
{% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}
    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i>{% trans "Home" %}</a></li>
                <li><i class="fa fa-angle-right"></i><span> {% blocktrans %}Contact us{% endblocktrans %} </span></li>
            </ul>
        </div>
    </div>

    <div class="b-desc-section-container">
        <section class="container b-welcome-box">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1 class="is-global-title f-center">{% blocktrans %}CONTACT US{% endblocktrans %}</h1>
                    <p class="f-center">{% blocktrans %}If you lived a problem in platform or any shipping problem, you can contact us. We will investigate your problem. Our purpose is provide the best shopping experience for you.{% endblocktrans %}</p>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div class="col-sm-6 b-contact-form-box">
                    <h3 class="f-primary-b b-title-description f-title-description">
                        {% blocktrans %}SEND MAIL{% endblocktrans %}
                        <div class="b-title-description__comment f-title-description__comment f-primary-l"></div>
                    </h3>
                    <div class="row">
                        <form action="" method="post">
                        {% csrf_token %}
                            <div class="col-md-6">
                                <div class="b-form-row">
                                    <label class="b-form-vertical__label" for="name">{% blocktrans %}Your name{% endblocktrans %}</label>
                                    <div class="b-form-horizontal__input">
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <label class="b-form-vertical__label" for="email">{% blocktrans %}Your email{% endblocktrans %}</label>
                                    <div class="b-form-vertical__input">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <label class="b-form-vertical__label" for="title">{% blocktrans %}Your title{% endblocktrans %}</label>
                                    <div class="b-form-vertical__input">
                                        {{ form.title }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="b-form-row b-form--contact-size">
                                    <label class="b-form-vertical__label">{% blocktrans %}Your message{% endblocktrans %}</label>
                                    {{ form.message }}
                                </div>
                                <div class="b-form-row">
                                    <input type='submit' value="{% blocktrans %}send message{% endblocktrans %}" class="b-btn f-btn b-btn-md b-btn-default f-primary-b b-btn__w100"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            <div data-remodal-id="modal2">
                <h1>{% trans "TEŞEKKÜR EDERİZ" %} </h1>
                <p>
                    {% blocktrans %}Mesajınız iletildi.{% endblocktrans %}
                </p>
                <br>
                <a class="remodal-confirm" href="#">OK!</a>
            </div>

                <div class="col-sm-6 b-contact-form-box">
                    <h3 class="f-primary-b b-title-description f-title-description">
                        {% blocktrans %}contact info{% endblocktrans %}
                        <div class="b-title-description__comment f-title-description__comment f-primary-l"></div>
                    </h3>
                    <div class="row b-google-map__info-window-address">
                        <ul class="list-unstyled">
    <li class="col-xs-12">
        <div class="b-google-map__info-window-address-icon f-center pull-left">
            <i class="fa fa-home"></i>
        </div>
        <div>
            <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                FAZLADAN BİLET
            </div>
            <div class="desc">{% blocktrans %}If you will be good kid, you can find us!{% endblocktrans %}</div>
        </div>
    </li>
    <li class="col-xs-12">
        <div class="b-google-map__info-window-address-icon f-center pull-left">
            <i class="fa fa-globe"></i>
        </div>
        <div>
            <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                {% trans "homepage" %}
            </div>
            <div class="desc"><a href="http://fazladanbilet.com">http://fazladanbilet.com</a></div>
        </div>
    </li>
    <li class="col-xs-12">
        <div class="b-google-map__info-window-address-icon f-center pull-left">
            <i class="fa fa-envelope"></i>
        </div>
        <div>
            <div class="b-google-map__info-window-address-title f-google-map__info-window-address-title">
                email
            </div>
            <div class="desc">info@fazladanbilet.com</div>
        </div>
    </li>
</ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block script_block %}{% endblock %}