{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_block %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/mini.css' %}">
    <style>
        #id_email{display:block;width:100%;height:25px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;}

    </style>
{% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}
    <div class="l-main-container">
    <div class="b-breadcrumbs f-breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="#"><i class="fa fa-home"></i>{% trans "Home" %}</a></li>
                <li><i class="fa fa-angle-right"></i><span>{% trans "Forgotten Password" %}</span></li>
            </ul>
        </div>
    </div>
    <div class="container b-forgot-password-page">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="b-forgot-password-form">
                    <h3 class="f-primary-l is-global-title">{% trans "Forgot Password" %}</h3>
                    <p>{% trans "Enter your email and we'll send you new password." %} {{ text_for_result }}</p>
                    <div class="b-form-row b-form-inline b-form-horizontal b-form-password">
                        <div class="b-form-row">
                            <div class="b-form-horizontal--mail f-form-horizontal--mail">
                                <i class="fa fa-envelope"></i>
                                <form method='POST' enctype="multipart/form-data">
                                    {% csrf_token %}
                                        {% if form.errors %}
                                            {{ form.errors }}
                                            <hr class="b-hr">
                                        {% endif %}

                                        <div class="b-form-horizontal__input form-control">
                                                <input id="id_email" maxlength="250" name="email" type="text">
                                        </div>
                                        <div class="b-form-row">
                                            <div class="b-form-horizontal__label"></div>
                                            <div class="b-form-horizontal__input">
                                                <input type='submit' value='{% trans "Send Me Now" %}' class="btn-submit" />
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <div class="b-form-row" style="width: 100%">
                            <div class="b-form-horizontal--mail">
                                <a href="/accounts/login/" class="f-link--color">{% trans "Return to Login" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_block %}{% endblock %}