{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_block %} {% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}
    <div class="l-main-container">
    {% if request.user.username %}
        <div class="b-breadcrumbs f-breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i>{% trans "Home" %}</a></li>
                </ul>
            </div>
        </div>

        <section class="b-infoblock">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ">
                        <div class="b-sort-panel">
                            <div class="b-sort-panel__inner">

                            </div>
                        </div>
                        <div class="row">
                            <div class="b-col-default-indent">
                                {% for i in tickets %}
                                    <div class="col-md-4 col-sm-4 col-xs-6 col-mini-12">
                                        <div class="b-product-preview">
                                            <div class="b-product-preview__img view view-sixth">
                                                <img data-retina="" src="/media/{{ i.ticket_photo }}" alt="" width="268"
                                                     height="268">

                                                <div class="b-item-hover-action f-center mask">
                                                    <div class="b-item-hover-action__inner">
                                                        <div class="b-item-hover-action__inner-btn_group">
                                                            <a href="/member/ticket_details/{{ i.id }}"
                                                               class="b-btn f-btn b-btn-light f-btn-light info"><i
                                                                    class="fa fa-shopping-cart"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="b-product-preview__content">
                                                <div class="b-product-preview__content_col">
                                                    <span class="b-product-preview__content_price f-product-preview__content_price f-primary-b">{{ i.amount_bitcoin }} <i
                                                            class="fa fa-btc"></i></span>
                                                </div>
                                                <div class="b-product-preview__content_col">
                                                    <a href="/member/ticket_details/{{ i.id }}"
                                                       class="f-product-preview__content_title">{{ i.title|title|truncatechars:21 }}</a>

                                                    <div class="f-product-preview__content_category f-primary-b">{{ i.category.category_name }} </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <aside>
                            <div class="row b-col-default-indent">

                                <div class="col-md-12">
                                    <div class="b-categories-filter">
                                        <h4 class="f-primary-b b-h4-special f-h4-special c-primary">{% trans " Categories filter" %}</h4>
                                        <ul>
                                            {% for category in categories %}
                                                <li>
                                                    <a class="f-categories-filter_name"
                                                       href="/category_filter/{{ category }}"><i
                                                            class="fa fa-plus"></i>{{ category }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div class="b-slidercontainer b-slider" style="overflow: visible;">
            <div class="j-fullscreenslider j-arr-hide revslider-initialised tp-simpleresponsive hovered"
                 id="revslider-448" style="height: 500px;">
                <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 600px;">
                    <li data-transition="slotfade-vertical" data-slotamount="7"
                        style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                        <div class="tp-bannertimer" style="width: 100%;"></div>
                        <div class="slotholder" style="width:100%;height:100%;" data-duration="undefined"
                             data-zoomstart="undefined" data-zoomend="undefined" data-rotationstart="undefined"
                             data-rotationend="undefined" data-ease="undefined" data-bgpositionend="undefined"
                             data-bgposition="undefined" data-kenburns="undefined" data-easeme="undefined"
                             data-bgfit="undefined" data-bgfitend="undefined" data-owidth="undefined"
                             data-oheight="undefined">
                            <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover"
                                 data-bgposition="center center" data-bgrepeat="no-repeat" data-lazydone="undefined"
                                 data-src="img/btc.jpg"
                                 style="width: 100%; height: 100%; opacity: 1; background-image: url({% static 'img/bit.jpg' %}); background-color: rgba(0, 0, 0, 0); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;"></div>
                        </div>
                        <div class="caption lft caption-left tp-caption start" data-x="left" data-y="150"
                             data-hoffset="60" data-speed="700" data-start="2000"
                             style="font-size: 13px; padding: 0px; margin: 0px; border-width: 0px; line-height: 15px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 150px; left: 124px; transform: none; -webkit-transform: none;">
                            <div class="b-slider-lg-info-l__item-title f-slider-lg-info-l__item-title b-slider-lg-info-l__item-title-tertiary b-bg-slider-lg-info-l__item-title">
                                <h2 class="f-primary-b">fazladanbilet.com</h2>

                                <h1 class="f-primary-b">BİLET KARŞILIĞI BITCOIN, BITCOIN KARŞILIĞI BİLET!</h1>
                            </div>
                        </div>
                        <div class="caption lfl caption-left tp-caption start" data-x="left" data-y="270"
                             data-speed="1000" data-start="2600"
                             style="font-size: 13px; padding: 0px; margin: 0px; border-width: 0px; line-height: 15px; white-space: nowrap; min-width: 0px; min-height: 0px; visibility: visible; opacity: 1; top: 270px; left: 64px; transform: none; -webkit-transform: none;">
                            <div class="b-slider-lg-info-l__item-link f-slider-lg-info-l__item-link">
                                <a href="https://bitcoin.org/tr/"
                                   class="b-slider-lg-info-l__item-anchor f-slider-lg-info-l__item-anchor f-primary-b">BITCOIN
                                    İLE GÜVENLİ ALIŞVERİŞ</a>
                                <span class="b-slider-lg-info-l__item-link-after"><i
                                        class="fa fa-chevron-right"></i></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <section class="b-infoblock f-center b-diagonal-line-bg-light">
            <div class="container">
                <h2 class="f-primary-l">BİLET TAKAS PLATFORMU <strong class="f-primary-b">fazladanbilet</strong></h2>

                <p class="b-desc-section f-desc-section f-secondary-l f-small">Sizin için Nasıl Çalışıyoruz ?</p>

                <div class="b-some-examples f-some-examples b-some-examples-secondary f-some-examples-secondary f-secondary row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="b-some-examples__item b-bg-transparent f-some-examples__item">
                            <div class="b-some-examples__item_img view view-sixth" style="margin-bottom: 20px">
                                <a href="#"><img class="j-data-element animated fadeInDown" data-animate="fadeInDown"
                                                 data-retina="" src="{% static 'img/concer.jpg' %}" alt="" width="370"
                                                 height="300"></a>

                            </div>
                            <div class="b-some-examples__item_info">
                                <div class="b-some-examples__item_name f-primary-b"><a href="#">Fazla Biletlerinizi
                                    Sizden Alıyoruz!</a></div>
                                <div class="b-some-examples__item_info_level b-some-examples__item_description f-some-examples__item_description">
                                    Sisteme kayıt ettiğiniz biletleriniz belirttiğiniz bitcoin miktarıyla takasa
                                    çıkartılır. Bu sayede kullanıcılar biletlerinizi alabilirler.
                                </div>
                                <a href="/member/new_swap_ticket" class="f-primary-b f-more"><i
                                        class="fa fa-arrow-circle-right"></i> Hemen takasa çıkartın</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="b-some-examples__item b-bg-transparent f-some-examples__item">
                            <div class="b-some-examples__item_img view view-sixth" style="margin-bottom: 20px">
                                <a href="#"><img class="j-data-element animated fadeInDown" data-animate="fadeInDown"
                                                 data-retina="" src="{% static 'img/ex.png' %}" alt="" width="370"
                                                 height="300"></a>

                            </div>
                            <div class="b-some-examples__item_info">
                                <div class="b-some-examples__item_name f-primary-b"><a href="#">Takas Ettiriyoruz!</a>
                                </div>
                                <div class="b-some-examples__item_info_level b-some-examples__item_description f-some-examples__item_description">
                                    Kullanıcılar biletinizi takas ederse, bitcoinlerinizi saklıyoruz ve başarılı bir
                                    işlemden sonra size yolluyoruz.
                                </div>
                                <a href="/how_it_works" class="f-primary-b f-more"><i
                                        class="fa fa-arrow-circle-right"></i> Nasıl Çalışır?</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="b-some-examples__item b-bg-transparent f-some-examples__item">
                            <div class="b-some-examples__item_img view view-sixth" style="margin-bottom: 20px">
                                <a href="#"><img class="j-data-element animated fadeInDown" data-animate="fadeInDown"
                                                 data-retina="" src="{% static 'img/sec.jpg' %}" alt="" width="370"
                                                 height="300"></a>

                            </div>
                            <div class="b-some-examples__item_info">
                                <div class="b-some-examples__item_name f-primary-b"><a href="#">Güvenli Alışveriş</a>
                                </div>
                                <div class="b-some-examples__item_info_level b-some-examples__item_description f-some-examples__item_description">
                                    Her başarılı takastan sonra verileriniz silinir. Fazladanbilet.com kullanıcısının
                                    gizliliğine önem veren bir platformdur ve alabileceği en az veri miktarı ile
                                    çalışır.
                                </div>
                                <a href="/terms" class="f-primary-b f-more"><i class="fa fa-arrow-circle-right"></i>
                                    Kullanıcı Sözleşmesi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="b-infoblock b-desc-section-container">
            <div class="container">
                <h2 class="f-primary-l f-center"><span class="f-primary-b">HİZMETLERİMİZ</span></h2>

                <p class="b-desc-section f-desc-section f-secondary-l f-small f-center">Fazladanbilet ailesi olarak
                    Türkiye'nin yalnızca bitcoin ile çalışan ilk ve tek platformuyuz.</p>

                <div class="b-infoblock-with-icon-group row b-infoblock-with-icon--circle-icon">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="b-infoblock-with-icon">
                            <a href="our_services_version_1.html"
                               class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <i class="fa fa-heart"></i>
                            </a>

                            <div class="b-infoblock-with-icon__info">
                                <a href="our_services_version_1.html"
                                   class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Sizin
                                    için en iyisi</a>

                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                    Basit tasarımı, kolay kullanımı ile keyifli alışveriş
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="b-infoblock-with-icon">
                            <a href="our_services_version_1.html"
                               class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <i class="fa fa-camera"></i>
                            </a>

                            <div class="b-infoblock-with-icon__info">
                                <a href="our_services_version_1.html"
                                   class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Ün
                                    Kazanın</a>

                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                    Kullanıcılar her takas işleminden sonra oy kullanır, daha güvenilir biri olarak
                                    tercih edilebilirsiniz.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="b-infoblock-with-icon">
                            <a href="our_services_version_1.html"
                               class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <i class="fa fa-trophy"></i>
                            </a>

                            <div class="b-infoblock-with-icon__info">
                                <a href="our_services_version_1.html"
                                   class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Komisyonlar</a>

                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                    Platformumuz 1/10 gibi düşük komisyonlarla çalışır.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="b-infoblock-with-icon">
                            <a href="our_services_version_1.html"
                               class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <i class="fa fa-shopping-cart"></i>
                            </a>

                            <div class="b-infoblock-with-icon__info">
                                <a href="our_services_version_1.html"
                                   class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Kolay
                                    Takas</a>

                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                    Deneyiminizin tamamında size yardımcı olmaya çalışıyoruz.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="b-infoblock-with-icon">
                            <a href="our_services_version_1.html"
                               class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <i class="fa fa-comments"></i>
                            </a>

                            <div class="b-infoblock-with-icon__info">
                                <a href="our_services_version_1.html"
                                   class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Bize
                                    Uaşın</a>

                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                    Her konuda bize danışabilirsiniz, yardımcı olmak için bekleyen bir ekibimiz var.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="b-infoblock-with-icon">
                            <a href="our_services_version_1.html"
                               class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate visible">
                                <i class="fa fa-cloud-download"></i>
                            </a>

                            <div class="b-infoblock-with-icon__info">
                                <a href="our_services_version_1.html"
                                   class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-sb">Verileriniz
                                    Güvende</a>

                                <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                    Sizden isteyebildiğimiz en az bilgiyi istiyor ve işimiz bitince siliyoruz.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}
    </div>
{% endblock %}

{% block script_block %}{% endblock %}