{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block shopping_card_block %}
       <div class="b-option-total-cart">
                  <div class="b-option-total-cart__goods">
                      <a href="#" class="f-option-total-cart__numbers b-option-total-cart__numbers"><i class="fa fa-shopping-cart"></i> Cart [ 2 ] item</a>
                      <div class="b-option-cart__items">
                          <div class="b-option-cart__items__title f-option-cart__items__title f-default-l">Recently added item(s)</div>
                          <ul>
                              <li>
                                  <div class="b-option-cart__items__img">
                                      <div class="view view-sixth">
                                          <img data-retina="" src="{% static 'img/shop/cart_mini_pic.jpg' %}" alt="">
                                          <div class="b-item-hover-action f-center mask">
                                              <div class="b-item-hover-action__inner">
                                                  <div class="b-item-hover-action__inner-btn_group">
                                                      <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="b-option-cart__items__descr">
                                      <strong class="b-option-cart__descr__title f-option-cart__descr__title"><a href="#">Product Example</a></strong>
                                      <span class="b-option-cart__descr__cost f-option-cart__descr__cost">1 x $239</span>
                                  </div>
                                  <i class="fa fa-times b-icon--fa"></i>
                              </li>
                              <li>
                                  <div class="b-option-cart__items__img">
                                      <div class="view view-sixth">
                                          <img data-retina="" src="{% static 'img/shop/cart_mini_pic.jpg' %}" alt="">
                                          <div class="b-item-hover-action f-center mask">
                                              <div class="b-item-hover-action__inner">
                                                  <div class="b-item-hover-action__inner-btn_group">
                                                      <a href="#" class="b-btn f-btn b-btn-light f-btn-light info"><i class="fa fa-link"></i></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                  <div class="b-option-cart__items__descr">
                                      <strong class="b-option-cart__descr__title f-default-b f-option-cart__descr__title"><a href="#">Product Example</a></strong>
                                      <span class="b-option-cart__descr__cost f-option-cart__descr__cost">1 x $239</span>
                                  </div>
                                  <i class="fa fa-times b-icon--fa"></i>
                              </li>
                          </ul>
                          <div class="b-option-cart__btn">
                              <button class="button-xs button-gray-light">Cancel</button>
                              <button class="button-xs">Check out  </button>
                          </div>
                      </div>
                  </div>
     </div>
{% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}

            <div id="title-container">
                <div class="title-block">
                    <h2>Login</h2>
                </div>
            </div>

            <div id="crumbs-container">

                <ul id="crumbs">

                    <li><a href="http://www.github.com">Home</a></li>



                    <li>/</li>
                    <li><span class="current"><a href="/accounts/login/">Login</a></span></li>

                </ul>
            </div>

            <div id="content" class="clearfix">
                <div id="left-column">
                    <ul class="post-list">
                        <li id="post-88" class="post-88 page type-page status-publish hentry post">
                            <div class="post-content clearfix">
                                <div class="post-title-block">

                                </div>

                                <div class="copy">
                                    <div class="woocommerce">
                                        <h2>Login</h2>

                                        {% if form.errors %}
                                            <p>{{ form.errors }}</p>
                                        {% endif %}

                                        <form method='POST' class="login">
                                            {% csrf_token %}

                                             <p class="form-row form-row-wide">
                                                <label for="username">Username or email address <span class="required">*</span></label>
                                                {{ form.username }}
                                             </p>

                                             <p class="form-row form-row-wide">
                                                <label for="password">Password <span class="required">*</span></label>
                                                {{ form.password }}
                                             </p>

                                             <p class="form-row">
                                                <input type='submit' value='Submit'/><br/><br/>
                                                <label for="rememberme" class="inline">
                                                    <input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember me
                                                </label>

                                                <p class="lost_password">
                                                    <a href="http://www.github.com/my-account/lost-password/">Lost your password?</a>
                                                </p>
                                             </p>

                                            {% if next %}
                                                <input type="hidden" name="next" value="{{ next }}">
                                            {% else %}
                                                <input type="hidden" name="next" value="/ticket_pool">
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>

                <div id="right-column">
                    <ul class="widget-list sidebar">
                        <li id="search-2" class="widget widget_search">
                            <form role="search" method="get" id="searchform" class="searchform" action="http://www.github.com/">
                                <div>
                                    <label class="screen-reader-text" for="s">Search for:</label>
                                    <input type="text" value="" name="s" id="s">
                                    <input type="submit" id="searchsubmit" value="Search">
                                </div>
                            </form>
                        </li>
                        <li id="recent-posts-2" class="widget widget_recent_entries">
                            <h4 class="widgettitle">Recent Posts</h4>		<ul>
                                <li>
                                    <a href="http://www.github.com/2013/03/09/four-suburbs/">The Four Suburbs</a>
                                </li>
                                <li>
                                    <a href="http://www.github.com/2013/03/09/the-national-guardians/">The National Guardians</a>
                                </li>
                                <li>
                                    <a href="http://www.github.com/2013/03/09/internationale-training/">Internationale Training</a>
                                </li>
                            </ul>
                        </li>
                        <li id="recent-comments-2" class="widget widget_recent_comments"><h4 class="widgettitle">Blog Comments</h4><ul id="recentcomments"><li class="recentcomments"><span class="comment-author-link">Marc</span> on <a href="http://www.github.com/2013/01/09/building-bridges-in-new-york-city/#comment-4">Featured Image</a></li><li class="recentcomments"><span class="comment-author-link">Marc</span> on <a href="http://www.github.com/2013/01/09/building-bridges-in-new-york-city/#comment-3">Featured Image</a></li><li class="recentcomments"><span class="comment-author-link">Marc</span> on <a href="http://www.github.com/2013/01/09/building-bridges-in-new-york-city/#comment-2">Featured Image</a></li></ul></li>
                        <li id="categories-2" class="widget widget_categories">
                            <h4 class="widgettitle">Categories</h4>		<ul>
                                <li class="cat-item cat-item-2">
                                    <a href="http://www.github.com/category/blog/">Blog</a>
                                </li>
                                <li class="cat-item cat-item-3">
                                    <a href="http://www.github.com/category/travelling-2/">Travelling</a>
                                </li>
                                <li class="cat-item cat-item-1">
                                    <a href="http://www.github.com/category/uncategorized/">Uncategorized</a>
                                </li>
                                <li class="cat-item cat-item-4">
                                    <a href="http://www.github.com/category/videos/">Videos</a>
                                </li>
                            </ul>
                        </li>
                        <li id="obox_social_widget-3" class="widget widget_obox_social_widget">
                            <h4 class="widgettitle"></h4>

                            <ul class="social-icons clearfix">
                                <li><a target="_blank" class="facebook" href="#" title="Facebook"></a></li>
                                <li><a target="_blank" class="googleplus" href="#" title="Google+"></a></li>
                                <li><a target="_blank" class="twitter" href="#" title="Twitter"></a></li>
                                <li><a target="_blank" class="youtube" href="#" title="Youtube"></a></li>
                            </ul>
                        </li>
                        <li id="obox_small_ad_widget-2" class="widget adverts-125 column clearfix">
                            <h4 class="widgettitle">Adverts</h4>           <ul>
                                <li class="advert">
                                    <a href="http://www.github.com" class="sponsor-item" title="" rel="nofollow">
                                        <img src="http://www.github.com/files/2013/05/be-different-ctr.png" alt="">
                                    </a>
                                </li>
                                <li class="advert">
                                    <a href="" class="sponsor-item" title="" rel="nofollow">
                                        <img src="http://www.github.com/files/2013/05/premium-themes-ctr.png" alt="">
                                    </a>
                                </li>
                                <li class="advert">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

{% endblock %}

{% block script_block %}{% endblock %}