{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head_block %} {% endblock %}

{% block menu_block %}
{% endblock %}

{% block container_block %}
    <div class="b-search-result-box">
    {% for ticket in tickets %}
<div class="b-search-item b-diagonal-line-bg-light" style="width: 50%;">
            <h3 class="f-primary-l  is-global-title f-h4-special"><a href="blog_detail_right_slidebar.html" class="f-more">{{ ticket.title|title|truncatechars:21 }}</a></h3>
            <div class="b-form-row f-h4-special b-form--mini clearfix">
                <div class="b-blog-one-column__info_container">
                    <div class="b-blog-one-column__info f-blog-one-column__info">
                        {% trans "Categories" %} : <a href="#" class="f-more">{{ ticket.category }}</a>
                        <span class="b-blog-one-column__info_delimiter"></span>
                    </div>
                </div>
            </div>
            <div class="b-form-row b-blog-one-column__text"><span class="f-more"></span>{{ ticket.description }}</div>
            <div class="b-form-row">
                <a href="/member/ticket_details/{{ ticket.id }}" class="b-btn f-btn b-btn-xs b-btn-default f-primary-b">{% blocktrans %}Read more{% endblocktrans %}</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block script_block %}{% endblock %}