{% extends "base.html" %}

{% block head_block %} {% endblock %}

{% block body_block %}

            <div id="title-container">
                <div class="title-block">
                    <h2>Shop</h2>
                </div>
            </div>

            <div id="crumbs-container">

                <ul id="crumbs">

                    <li><a href="http://www.github.com">Home</a></li>



                    <li>/</li>
                    <li><span class="current"><a href="/ticket_pool">Shop</a></span></li>

                </ul>
            </div>

            <div id="content" class="clearfix">
                <div id="left-column">
                    <p class="woocommerce-result-count">
                        Showing 1–6 of 10 results
                    </p>
                    <form class="woocommerce-ordering" method="get">
                        <select name="orderby" class="orderby">
                            <option value="menu_order" selected="selected">Default sorting</option>
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date">Sort by newness</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price-desc">Sort by price: high to low</option>
                        </select>
                    </form>
                    <ul class="products">

                        {% for i in tickets %}
                            <li class="product type-product status-publish has-post-thumbnail first shipping-taxable purchasable product-type-simple product-cat-bikes instock">


                                <a href="/member/ticket_details/{{ i.id }}">

                                    <div class="img-wrap"><img width="320" height="320" src="/media/{{ i.ticket_photo }}" class="attachment-shop_catalog wp-post-image" alt="connor-wood-bike-xl"></div> <!--/.wrap-->
                                    <h3>{{ i.title }}</h3>



                                    <span class="price"><span class="amount">BTC {{ i.amount_bitcoin }}</span></span>

                                </a>

                                <a href="/member/ticket_details/{{ i.id }}" rel="nofollow" class="button add_to_cart_button product_type_simple">Details</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="pagination">

                        <li class="next"><a href="shop/page/2/"></a></li>
                        <li class="page-count">Page 1 of 2</li>
                    </ul>
                </div>
                <div id="right-column">
                    <ul class="widget-list sidebar">
                        <li id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
                            <div class="content">
                                <h4 class="widgettitle">Filter by price</h4><form method="get" action="shop">
                                    <div class="price_slider_wrapper">
                                        <div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="" aria-disabled="false"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
                                        <div class="price_slider_amount">
                                            <input type="text" id="min_price" name="min_price" value="" data-min="22" placeholder="Min price" style="display: none;">
                                            <input type="text" id="max_price" name="max_price" value="" data-max="550" placeholder="Max price" style="display: none;">
                                            <button type="submit" class="button">Filter</button>
                                            <div class="price_label" style="">
                                                Price: <span class="from">$22</span> — <span class="to">$550</span>
                                            </div>

                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
                            <div class="content">
                                <h4 class="widgettitle">Product Categories</h4><ul class="product-categories">
                                    <li class="cat-item cat-item-26"><a href="product-category/bikes/">Bikes</a></li>
                                    <li class="cat-item cat-item-25"><a href="product-category/clothing/">Clothing</a></li>
                                    <li class="cat-item cat-item-27"><a href="product-category/electronics/">Electronics</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="woocommerce_products-2" class="widget woocommerce widget_products">
                            <div class="content">
                                <h4 class="widgettitle">On Sale</h4><ul class="product_list_widget">
                                    <li>
                                        <a href="product/woolrich-blazer/" title="Woolrich Blazer">
                                            <img width="150" height="150" src="files/2013/04/woolrich-hiking-blazer-xl1-150x150.jpg" class="attachment-shop_thumbnail wp-post-image" alt="woolrich-hiking-blazer-xl">		Woolrich Blazer
                                        </a>
                                        <span class="amount">$550.00</span>
                                    </li>
                                    <li>
                                        <a href="product/thermodo/" title="Thermodo">
                                            <img width="150" height="150" src="files/2013/04/thermodo1-150x150.png" class="attachment-shop_thumbnail wp-post-image" alt="thermodo">		Thermodo
                                        </a>
                                        <del><span class="amount">$25.00</span></del> <ins><span class="amount">$22.00</span></ins>
                                    </li>
                                    <li>
                                        <a href="product/sos-charger/" title="SOS Charger">
                                            <img width="150" height="150" src="files/2013/04/kickstarter2-150x150.png" class="attachment-shop_thumbnail wp-post-image" alt="kickstarter2">		SOS Charger
                                        </a>
                                        <span class="amount">$59.00</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="woocommerce_products-3" class="widget woocommerce widget_products">
                            <div class="content">
                                <h4 class="widgettitle">Featured Products</h4><ul class="product_list_widget">
                                    <li>
                                        <a href="product/woolrich-blazer/" title="Woolrich Blazer">
                                            <img width="150" height="150" src="files/2013/04/woolrich-hiking-blazer-xl1-150x150.jpg" class="attachment-shop_thumbnail wp-post-image" alt="woolrich-hiking-blazer-xl">		Woolrich Blazer
                                        </a>
                                        <span class="amount">$550.00</span>
                                    </li>
                                    <li>
                                        <a href="product/thermodo/" title="Thermodo">
                                            <img width="150" height="150" src="files/2013/04/thermodo1-150x150.png" class="attachment-shop_thumbnail wp-post-image" alt="thermodo">		Thermodo
                                        </a>
                                        <del><span class="amount">$25.00</span></del> <ins><span class="amount">$22.00</span></ins>
                                    </li>
                                    <li>
                                        <a href="product/sos-charger/" title="SOS Charger">
                                            <img width="150" height="150" src="files/2013/04/kickstarter2-150x150.png" class="attachment-shop_thumbnail wp-post-image" alt="kickstarter2">		SOS Charger
                                        </a>
                                        <span class="amount">$59.00</span>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="woocommerce_product_search-2" class="widget woocommerce widget_product_search">
                            <div class="content">
                                <h4 class="widgettitle">Search Products</h4><form role="search" method="get" id="searchform" action="">
                                    <div>
                                        <label class="screen-reader-text" for="s">Search for:</label>
                                        <input type="text" value="" name="s" id="s" placeholder="Search for products">
                                        <input type="submit" id="searchsubmit" value="Search">
                                        <input type="hidden" name="post_type" value="product">
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

{% endblock %}