{% load staticfiles %}
{% load i18n %}
{% get_current_language as tr %}
<!DOCTYPE html>
<html lang="en">
<head>
    <META http-equiv="content-type" content="text/html;charset=iso-8859-9" />
    <META http-equiv="content-type" content="text/html;charset=windows-1254" />
    <META http-equiv="content-type" content="text/html;charset=x-mac-turkish" />
    <title>Fazladan Bilet | Jackal Project</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet">
    <!-- bxslider -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/bxslider/jquery.bxslider.css' %}">
    <!-- End bxslider -->
    <!-- bxslider -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/radial-progress/style.css' %}">
    <!-- End bxslider -->
    <!-- Animate css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- End Animate css -->
    <!-- Bootstrap css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/bootstrap-progressbar/bootstrap-progressbar-3.2.0.min.css' %}">
    <!-- End Bootstrap css -->
    <!-- Jquery UI css -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/jqueryui/jquery-ui.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/jqueryui/jquery-ui.structure.css' %}">
    <!-- End Jquery UI css -->
    <!-- Fancybox -->
    <link type="text/css" rel="stylesheet" href="{% static 'js/fancybox/jquery.fancybox.css' %}">
    <!-- End Fancybox -->
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext"
        rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic"
        rel="stylesheet" type="text/css">
    <link type="text/css" data-themecolor="default" rel="stylesheet" href="{% static 'css/main-default.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/rs-plugin/css/settings.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/rs-plugin/css/settings-custom.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'js/rs-plugin/videojs/video-js.css' %}">
    <link href="{% static 'css/video-js.css' %}" rel="stylesheet">
    <!-- Animation hover css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/hover-effect-base.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/hover-effect-up.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/hover-effect-down.css' %}">
    <!-- End Animation hover css -->
    <style type="text/css">
        .fancybox-margin
        {
            margin-right: 17px;
        }
    </style>

    {% block head_block %}{% endblock %}
</head>
<body class="">
    <header class="">
      <div class="b-top-options-panel b-top-options-panel--color">
          <div class="container">
              <div class="b-option-contacts f-option-contacts">
                      {% if request.user.username %}
                        <a href="/member/member_profile/"><i class="fa fa-user"></i> {% trans 'My Account'%}</a>
                        <a href="/member/my_bag/"><i class="fa fa-tags"></i>{% trans 'Checkout'%}</a>
                        <a href="/accounts/logout/"><i class="fa fa-chevron-right"></i>{% trans 'Logout'%}</a>
                      {% else %}
                        <a href="/accounts/login/"><i class="fa fa-lock"></i>{% trans 'Login'%}</a>
                        <a href="/member/new_member/"><i class="fa fa-user"></i>{% trans 'Sign Up'%}</a>
                      {% endif %}
              </div>
              <div class="b-option-total-cart">
                  <div class="b-option-total-cart__goods">
                      <a href="/member/my_bag/" class="f-option-total-cart__numbers b-option-total-cart__numbers"><i class="fa fa-shopping-cart"></i> {% trans 'Cart' %} </a>

                  </div>
              </div>
          </div>
      </div>
      <div class="container b-header__box b-relative">
          <a href="/" class="b-left b-logo"><img class="color-theme" data-retina="" src="{% static 'img/logo-header-default.png' %}" alt="Logo"></a>
          <div class="b-header-r b-right">
              <div class="b-header-ico-group f-header-ico-group b-right">
                          <span class="b-search-box">
                              <a id="search_link"><i class="fa fa-search"></i></a>
                              <input id="search" type="text" placeholder={% trans "Enter your keywords" %}>
                          </span>
              </div>
              <div class="b-top-nav-show-slide f-top-nav-show-slide b-right j-top-nav-show-slide"><i class="fa fa-align-justify"></i></div>
              <nav class="b-top-nav f-top-nav b-right j-top-nav">
                  <ul class="b-top-nav__1level_wrap">
                    <li class="b-top-nav__1level f-top-nav__1level is-active-top-nav__1level f-primary-b"><a href="/"><i class="fa fa-home b-menu-1level-ico"></i>{% trans "Home" %} </a></li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b">
                        <a href="#"><i class="fa fa-folder-open b-menu-1level-ico"></i>{% trans "What is it?" %}<span class="b-ico-dropdown"><i class="fa fa-arrow-circle-down"></i></span></a>
                        <div class="b-top-nav__dropdomn">
                            <ul class="b-top-nav__2level_wrap">
                                <li class="b-top-nav__2level_title f-top-nav__2level_title">{% trans "What is it?" %}</li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="/how_it_works/#set_exchange"><i class="fa fa-angle-right"></i>{% trans "How it works?" %}</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="https://bitcoin.org/tr/" target="_blank"><i class="fa fa-angle-right"></i>{% trans "Bitcoin" %}</a></li>
                                <li class="b-top-nav__2level f-top-nav__2level f-primary"><a href="/terms/" target="_blank"><i class="fa fa-angle-right"></i>{% trans "Terms of Used" %}</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b"><a href="/ticket_pool/"><i class="fa fa-picture-o b-menu-1level-ico"></i>{% trans "Shop" %} </a></li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b"><a href="/member/new_swap_ticket/"><i class="fa fa-code b-menu-1level-ico"></i>{% trans "New Ticket" %} </a></li>
                    <li class="b-top-nav__1level f-top-nav__1level f-primary-b b-top-nav-big"><a href="/contact_us"><i class="fa fa-cloud-download b-menu-1level-ico"></i>{% trans "Contact Us" %} </a></li>
                  </ul>
                </nav>
          </div>
      </div>
  </header>
    <div class="j-menu-container">
        {% block menu_block %}{% endblock %}
    </div>
    <div class="l-main-container">
        {% block container_block %}{% endblock %}
    </div>
    <footer>
  <div class="b-footer-primary">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12 f-copyright b-copyright">Copyright 2014 - All Rights Reserved</div>
            <div class="col-sm-8 col-xs-12">
                <div class="b-btn f-btn b-btn-default b-right b-footer__btn_up f-footer__btn_up j-footer__btn_up b-hidden" style="opacity: 0; position: fixed;">
                    <i class="fa fa-chevron-up"></i>
                </div>
                <nav class="b-bottom-nav f-bottom-nav b-right hidden-xs">
                    <ul>
                        <li><a href="/">{% trans "Homepage" %}</a></li>
                        <li><a href="/how_it_works">{% trans "What is it?" %}</a></li>
                        <li><a href="/how_it_works">{% trans "How it works?" %}</a></li>
                        <li><a href="https://bitcoin.org/tr/" target="_blank">{% trans "Shop" %}</a></li>
                        <li><a href="/ticket_pool/">{% trans "Shop" %}</a></li>
                        <li><a href="member/new_swap_ticket/">{% trans "New Ticket" %}</a></li>
                        <li><a href="/contact_us/">{% trans "Contact Us" %}</a></li>
                        <li>
                            <!-- Change Language-->
                            <form action="/i18n/setlang/" method="post">{% csrf_token %}
                              <input name="next" type="hidden" value="/" />
                              <select  name="language" onchange="this.form.submit()">
                              <option>{% trans 'Language' %}</option>
                                {% for lang in LANGUAGES %}
                                  <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                                {% endfor %}
                              </select>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
  
</footer>
    <script src="{% static 'js/breakpoints.js' %}"></script>
    <script src="{% static 'js/jquery/jquery-1.11.1.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'js/scrollspy.js' %}"></script>
    <script src="{% static 'js/bootstrap-progressbar/bootstrap-progressbar.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- end bootstrap -->
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <!-- bxslider -->
    <script src="{% static 'js/bxslider/jquery.bxslider.min.js' %}"></script>
    <!-- end bxslider -->
    <!-- smooth-scroll -->
    <script src="{% static 'js/smooth-scroll/SmoothScroll.js' %}"></script>
    <!-- end smooth-scroll -->
    <!-- carousel -->
    <script src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}"></script>
    <!-- end carousel -->
    <script src="{% static 'js/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script src="{% static 'js/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/rs-plugin/videojs/video.js' %}"></script>
    <!-- jquery ui -->
    <script src="{% static 'js/jqueryui/jquery-ui.js' %}"></script>
    <!-- end jquery ui -->
    <!-- Modules -->
    <script src="{% static 'js/modules/sliders.js' %}"></script>
    <script src="{% static 'js/modules/ui.js' %}"></script>
    <script src="{% static 'js/modules/retina.js' %}"></script>
    <script src="{% static 'js/modules/animate-numbers.js' %}"></script>
    <script src="{% static 'js/modules/parallax-effect.js' %}"></script>
    <script src="{% static 'js/modules/settings.js' %}"></script>
    <script src="{% static 'js/modules/maps-google.js' %}"></script>
    <script src="{% static 'js/modules/color-themes.js' %}"></script>
    <!-- End Modules -->
    <!-- Audio player -->
    <script type="text/javascript" src="{% static 'js/audioplayer/js/jquery.jplayer.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/audioplayer/js/jplayer.playlist.min.js' %}"></script>
    <script src="{% static 'js/audioplayer.js' %}"></script>
    <!-- end Audio player -->
    <!-- radial Progress -->
    <script src="{% static 'js/radial-progress/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/radial-progress/radialProgress.js' %}"></script>
    <script src="{% static 'js/progressbars.js' %}"></script>
    <!-- end Progress -->
    <script src="{% static 'js/j.placeholder.js' %}"></script>
    <!-- Fancybox -->
    <script src="{% static 'js/fancybox/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/fancybox/jquery.mousewheel.pack.js' %}"></script>
    <script src="{% static 'js/fancybox/jquery.fancybox.custom.js' %}"></script>
    <!-- End Fancybox -->
    <script src="{% static 'js/user.js' %}"></script>
    <script src="{% static 'js/timeline.js' %}"></script>
    <script src="{% static 'js/fontawesome-markers.js' %}"></script>
    <script src="{% static 'js/cookie.js' %}"></script>
    <!--Loader-->
    <script src="{% static 'js/loader.js' %}"></script>
    <!--End Loader-->
    <script type="application/javascript">
                $(document).ready(function () {
                    $('#search_link').click(function () {
                            var text = $('#search').val();
                            window.location.href = "/search/" + text;
                    });
                });
    </script>
    {% block script_block %}

    {% endblock %}
</body>
</html>
