{% extends "mail_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block top_title_block %}{% blocktrans %}User's Messages{% endblocktrans %}{% endblock %}

{% block title_block %}
    <h1 style="Margin-top: 0;color: #565656;font-weight: 700;font-size: 36px;Margin-bottom: 18px;font-family: sans-serif;line-height: 42px">
        {% trans "Hey" %} Administrator,
    </h1>
{% endblock %}

{% block content_block %}
    <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">
        {% blocktrans %}You have a message from fazladanbilet's users.{% endblocktrans %}
    </p>
    <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 24px">
        {% blocktrans %}Name:{% endblocktrans %} <strong style="font-weight: bold">{{ name }}</strong>
    <br/>
        {% blocktrans %}Email:{% endblocktrans %} <strong style="font-weight: bold">{{ email }}</strong>
    <br/>
        {% blocktrans %}Title:{% endblocktrans %} <strong style="font-weight: bold">{{ title }}</strong>
    <br/>
        {% blocktrans %}Message:{% endblocktrans %} <strong style="font-weight: bold">{{ message }}</strong>
    </p>
{% endblock %}

{% block add_block %} {% endblock %}