{% extends "mail_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block top_title_block %}{% blocktrans %}Shipping Information{% endblocktrans %}{% endblock %}

{% block title_block %}
    <h1 style="Margin-top: 0;color: #565656;font-weight: 700;font-size: 36px;Margin-bottom: 18px;font-family: sans-serif;line-height: 42px">
        {% trans "Hey" %} {{ username }},
    </h1>
{% endblock %}

{% block content_block %}
    <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">
        {% blocktrans %}Thank you for doing the exchange with fazladanbilet. You can exchange information viewed below.{% endblocktrans %}
    </p>
    <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 24px">
        {% trans "Exchanger:" %} <strong style="font-weight: bold"><a href="http://www.fazladanbilet.com/public_profile/{{ id }}">{{ ship_to_username }}</a></strong>
        <br/>
        {% trans "Ticket:" %} <strong style="font-weight: bold">{{ total_ticket }}</strong>
        <br/>
        Bitcoin: <strong style="font-weight: bold">{{ total }}</strong>
        <br/>
        {% blocktrans %}Shipping Address:{% endblocktrans %} <strong style="font-weight: bold">{{ shipping_address }}</strong>
        <br/>
        {% blocktrans %}Shipping Username:{% endblocktrans %} <strong style="font-weight: bold">{{ shipping_username }}</strong>
        <br/>
        {% blocktrans %}Shipping Phone:{% endblocktrans %} <strong style="font-weight: bold">{{ shipping_phone }}</strong>
    </p>
{% endblock %}

{% block add_block %} {% endblock %}