{% extends "mail_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block top_title_block %}{% blocktrans %}Complaint{% endblocktrans %}{% endblock %}

{% block title_block %}
    <h1 style="Margin-top: 0;color: #565656;font-weight: 700;font-size: 36px;Margin-bottom: 18px;font-family: sans-serif;line-height: 42px">
        Hey {{ username }},
    </h1>
{% endblock %}

{% block content_block %}
    <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 25px">
        {% blocktrans %}Your complaint has been received by us. Thanks for informing.{% endblocktrans %}
    </p>
    <p style="Margin-top: 0;color: #565656;font-family: Georgia,serif;font-size: 16px;line-height: 25px;Margin-bottom: 24px">
        {% blocktrans %}Order Num:{% endblocktrans %} <strong style="font-weight: bold">{{ order_id }}</strong>
        {% trans "Ticket:" %} <strong style="font-weight: bold">{{ ticket_name }}</strong>
    </p>
    <p style="Margin-top:0;font-weight:normal;color:#677483;font-family:sans-serif;font-size:14px;line-height:25px;Margin-bottom:20px">
        {% trans "Thanks," %}<br>
	<em style="color:#a9b7c8;font-style:italic">{% blocktrans %}Human Resources,{% endblocktrans %} Fazladan Bilet</em></p>
{% endblock %}

{% block add_block %} {% endblock %}