{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_block %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/mini.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}
{% for i in orders %}
    {% if i.get_status_display != 'cancel' and i.get_status_display != 'waiting_for_payment' %}
<ul>
  <img src="/media/{{ i.on_sales.ticket_photo }}">
  <li>{{ i.on_sales.member.username }}</li>
  <li>{{ i.on_sales.title }}</li>
  <li>{{ i.total_ticket }}</li>
  <li>{{ i.get_cargo_company_display }}</li>
  <li>{{ i.cargo_no }}</li>
  <li>{{ i.get_status_display }}</li>
  <a href="/member/after_sale_complaint/{{ i.id }}">{% trans "I had a problem" %}</a>

</ul>
    {% endif %}
{% endfor %}
{% endblock %}