{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<title></title>
</head>
<body>
<a href="/accounts/logout">log out</a></br>
<a href="/member/edit_member_profile">edit profile</a></br>
<ul>
    {% if member.profile_photo %}
        <img src="/media/{{ member.profile_photo }}">
    {% else %}
        <img src="/media/profile_photos/default.png">
    {% endif %}
  <li>{{ member.username }}</li>
  <li>{{ member.email }}</li>
  <li>{{ member.points }}</li>
  <li>{{ member.points_counter }}</li>
</ul>
</body>
</html>