{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/mini.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
{% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}
{% if tickets %}
 {% for ticket in tickets %}
 <div>
 <a href="/member/ticket_details/{{ ticket.ticket_id }}">
 <div>
 <p>{{ ticket.title }}</p>

 <p>Toplam Bilet: {{ ticket.total_number }}</p>


 <p>Bitcoin Takas Miktarı: {{ ticket.amount_bitcoin }}</p>

 <p>Oluşturulma: {{ ticket.date }}</p>

 </div>
 </a>
 <input type="button" onclick="location.href='/member/new_order/{{ i.id }}' " value="Takasla">
 </div>
 <br/>
 {% endfor %}
{% else %}
 <p> Çanta Boş</p>
{% endif %}

{% endblock %}

{% block script_block %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('#id_edate').datepicker({
                    format: "yyyy-mm-dd"
                });
        });
    </script>
{% endblock %}