{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/mini.css' %}">
{% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}
    <div class="l-main-container">
        <div class="b-breadcrumbs f-breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                    <li><i class="fa fa-angle-right"></i><span>Sign Up</span></li>
                </ul>
            </div>
        </div>
        <div class="container b-container-login-page">
            <div class="row">
                <div class="col-md-6">
                    <div class="b-form-row f-primary-l f-title-big c-secondary">Create an account</div>
                    <div class="b-form-row">Consectetur adipiscing elituis sagittis eu mi et pellentesqueur</div>
                    <hr class="b-hr">
                    {% if form.errors %}
                        {{ form.errors }}
                        <hr class="b-hr">
                    {% endif %}
                    <div class="row b-form-inline b-form-horizontal">
                        <div class="col-xs-12">
                            <form method='POST'>
                                {% csrf_token %}

                                <div class="b-form-row">
                                    <label class="b-form-horizontal__label" for="username">Username:</label>
                                    <div class="b-form-horizontal__input">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <label class="b-form-horizontal__label" for="email">E-mail:</label>
                                    <div class="b-form-horizontal__input">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <label class="b-form-horizontal__label" for="password">Password:</label>
                                    <div class="b-form-horizontal__input">
                                        {{ form.password }}
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <div class="b-form-horizontal__label"></div>
                                    <div class="b-form-horizontal__input">
                                        <label for="create_account_terms">
                                            <input type="checkbox" class="b-form-checkbox b-form-checkbox" id="create_account_terms">
                                            <span>I agree to <a href="#" class="c-secondary f-more">Terms of Use</a></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="b-form-row">
                                    <div class="b-form-horizontal__label"></div>
                                    <div class="b-form-horizontal__input">
                                        <input type='submit' value='Submit' class="btn-submit"/>
                                    </div>
                                </div>

                                {% if next %}
                                    <input type="hidden" name="next" value="{{ next }}">
                                {% else %}
                                    <input type="hidden" name="next" value="/member/member_profile">
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="f-primary-l f-title-big c-secondary">Welcome to Frexy Studio</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sagittis eu mi et pellentesque. Curabitur vestibulum convallis orci, quis dapibus elit fringilla eget. Suspendisse posuere diam ut erat convallis, non dictum quam luctus. </p>
                    <div class="b-shortcode-example">
                        <ul class="b-list-markers f-list-markers">
                            <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Fusce viverra nisl eu nisl suscipit dictum.</a></li>
                            <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Morbi vehicula massa ut libero laoreet faucibus.</a></li>
                            <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Nullam a felis volutpat, gravida est eget, ultrices velit.</a></li>
                            <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Proin egestas nibh luctus dui cursus, sit amet vestibulum massa dignissim.</a></li>
                            <li><i class="fa fa-check-circle b-list-markers__ico f-list-markers__ico"></i> <a href="#">Etiam facilisis sapien ut ornare euismod.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}{% endblock %}