{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_block %}
    <style type="text/css">
    .infospan{font-size:0.92308em;line-height:1.2;color:#e9682e;color:#e9682e;}
    </style>
{% endblock %}

{% block menu_block %}{% endblock %}

{% block container_block %}
    <div class="l-main-container">
        <div class="b-breadcrumbs f-breadcrumbs">
            <div class="container">
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i>{% trans "Home" %}</a></li>
                    <li><i class="fa fa-angle-right"></i><span>{% trans "Ticket Detail" %}</span></li>
                </ul>
            </div>
        </div>

        <section class="b-infoblock">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ">
                        <div class="b-shortcode-example">
                            <div class=" f-primary-b b-title-b-hr f-title-b-hr b-null-top-indent">{{ ticket.title }}</div>
                            <div class="b-product-card b-default-top-indent">
                                <div class="b-product-card__visual b-slidercontainer b-slider b-slider--thumb b-slider--thumb-visible b-small-arr f-small-arr b-slider--navi-alt b-shadow-container" style="overflow: visible;">
                                    <div class="j-contentwidthslider revslider-initialised tp-simpleresponsive hovered" data-height="1400" id="revslider-479" style="height: 243px;">
                                        <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: 600px;">
                                            <li data-transition="slotfade-vertical" data-slotamount="7" style="width: 100%; height: 100%; overflow: hidden; visibility: visible; left: 0px; top: 0px; z-index: 20; opacity: 1;">
                                                <a class="fancybox" data-fancybox-group="gallery" href="/media/{{ ticket.ticket_photo }}"><img data-retina="" src="/media/{{ ticket.ticket_photo }}" alt="" width="100%" height="100%"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="b-product-card__info">
                                    <h4 class="f-primary-b b-h4-special f-h4-special">{% trans "information" %}</h4>

                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Price" %}</div>
                                        <span class="f-product-card__info_price c-default f-primary-b"><i class="fa fa-btc"></i> {{ ticket.amount_bitcoin }}</span>
                                    </div>

                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_count">
                                            <div class="input-number-box">
                                                <input id="total_number" type="text" class="form-control form-control--secondary">
                                            </div>
                                        </div>
                                        <div class="b-product-card__info_add b-margin-right-standard">
                                            <div class=" b-btn f-btn b-btn-sm-md f-btn-sm-md">
                                                <a style="color:#fff;" href="javascript:void(0)" onclick="added_ticket_to_my_bag();">
                                                <i class="fa fa-shopping-cart"></i>{% trans "Add to cart" %}</a>
                                            </div>
                                        </div>

                                        <div data-remodal-id="modal2">
                                            <h1>{% trans "SEPET" %} </h1>
                                            <p>
                                                {% blocktrans %}Ürün sepetinize eklendi.{% endblocktrans %}
                                            </p>
                                            <br>
                                            <a class="remodal-confirm" href="#">OK!</a>
                                        </div>

                                    </div>

                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Categories" %}</div>
                                        <span class="infospan">{{ ticket.category }}</span>
                                    </div>

                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "End Date" %}</div>
                                        <span class="infospan">{{ ticket.edate }}</span>
                                    </div>

                                    <div class="b-product-card__info_row">
                                        <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Total" %}</div>
                                        <span class="infospan">{{ ticket.total_ticket }}</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="b-shortcode-example">
                            <div class="b-tabs f-tabs j-tabs b-tabs-reset ui-tabs ui-widget ui-widget-content ui-corner-all">
                                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                                    <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-21" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true"><a href="#tabs-21" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">{% trans "Description" %}</a></li>
                                    <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-22" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false"><a href="#tabs-22" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">{% trans "User's Information" %}</a></li>
                                </ul>
                                <div class="b-tabs__content">
                                    <div id="tabs-21" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block;">
                                        <h4 class="f-tabs-vertical__title f-primary-b">{{ ticket.title|title }}</h4>
                                        <p>{{ ticket.description }}</p>
                                    </div>
                                    <div id="tabs-22" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
                                        <div class="b-product-card__info_row">
                                            <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Username" %}</div>
                                            <a href="/public_profile/{{ ticket.member.id }}"><span class="infospan">{{ ticket.member.username }}</span></a>
                                        </div>
                                        <div class="b-product-card__info_row">
                                            <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Points" %}</div>
                                            <span class="infospan">{{ ticket.member.points }}</span>
                                        </div>
                                        <div class="b-product-card__info_row">
                                            <div class="b-product-card__info_title f-primary-b f-title-smallest">{% trans "Counter" %}</div>
                                            <span class="infospan">{{ ticket.member.points_counter }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <aside>
                            <div class="row b-col-default-indent">
                                <div class="col-md-12">
                                    <div class="b-categories-filter">
                                        <h4 class="f-primary-b b-h4-special f-h4-special c-primary">{% trans " Categories filter" %}</h4>
                                        <ul>
                                             {% for category in categories %}
                                            <li>
                                                <a class="f-categories-filter_name" href="/category_filter/{{ category }}"><i class="fa fa-plus"></i>{{ category|title }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block script_block %}
    <script type="text/javascript">
    function added_ticket_to_my_bag() {
        var total_number = $('#total_number').val();
        $.ajax({
            type: "POST",
            url: "/member/in_the_bucket/",
            data: { ticket_id: + {{ ticket.id }}, total_number: + total_number },
            success: null,
            dataType: JSON
        });

        Yukle();
    }

    function Yukle()
    {
        location.href = "#modal2";
    }
</script>
{% endblock %}